@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: "Poppins", sans-serif;
    user-select: none;
}





.mock-window{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.mock-left{
    height: 100%;
    width: 78vw;
    border: 0.1px solid black;
}


.left-pt1{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1777ed;
}


.timer{
    background-color: #ffffff;
    height: 2vw;
    width: 4vw;
    display: flex;
    justify-content: center;
    border-radius: 0.2vw;
    margin:  0 1vw;
}



.left-pt2{
    height: 7vh;
    width: 100%;
    background-color: #1797ed;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 0.1px solid black;

}

.subjects{
    height: 90%;
    width: 35%;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 10px;
    border: 1px solid #00000000;
    margin-left: 0.5vw;
    width: 450px;
}

.subjects div{
    height: 90%;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    max-width: 30vw;
    background-color: #286cf3c7;
    font-size: 2vh;
    color: white;
    line-height: 120%;
    padding: 0.5vw;
}

.subjects div .fa-circle-info{
    font-size: 1.5vw;
    color: #1735cbcb;
    background-color: white;
    border-radius: 50%;
}





.lang{
    display: flex;
    width: 10vw;
    place-content: center;
    justify-content: space-evenly;
    margin-right: 0.5vw;
    color: rgb(0, 0, 0);
}


/* ...................................... */
.main-ques-div{
    height: 76vh;
    width: 100%;
    background-color: #ffffff;
    /* display: flex;
    justify-content: space-evenly; */
    /* flex-direction: column; */
    position: relative;

}

.ques-data{
    height: 4vh;
    width: 100%;
    padding: 0 0.3vw;
    border-bottom: 0.1px solid black;
    display: flex;
    justify-content: space-between;
}

.qu-data-left{
    height: 98%;
    width: 70%;
    border: 0.1px solid #00000000;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left: 0.5vw;
}

.qu-data-left p{
    font-weight: 700;
}

.ques-marks{
    height: 98%;
    width: 40%;
    padding: 0 1vw;
    border: 0.1px solid #00000000;
    display: flex;
    /* gap: 15px; */
    justify-content: space-evenly;
    background-color: #ffffff;
}

.ans-selct{
    height: 3vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    background-color: #0546d4;
    color: white;
    border-radius: 0.5vh;
}

.crt{
    background-color: #09ff00;
    position: relative;
}


.crt::after {
    content: "1 Mark will be rewarded for correct answer"; /* Text inside the box */
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Position it below the container */
    left: 0;
    width: 500%;
    background-color: #2d2d2ddd;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
  }


.crt:hover::after {
    display: block; /* Show on hover */
  }



.wrg{
    background-color: #ff0000;
    position: relative;
}


.wrg::after {
    content: "0.25 Mark will be deducted for wrong answer"; /* Text inside the box */
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Position it below the container */
    left: 0;
    width: 500%;
    background-color: #2d2d2ddd;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
  }


.wrg:hover::after {
    display: block; /* Show on hover */
  }

.ques-time{
    width: 8vh;
}





.op-scroll{
    height: 98%;
    width: 40%;
    padding: 0 1vw;
    border: 0.1px solid #00000000;
    display: flex;
    justify-content: center;
}

.dn-scroll{
    height: 3.5vh;
    width: 3.5vh;
    display: flex;
    justify-content: center;
    background-color: #0546d4;
    color: white;
    font-weight: 900;
    font-size: 1.5vw;
    border-radius: 50%;
}




.left-pt3{
    height: 72vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    position: relative;

}


.ques-div{
    height: 98%;
    width: 62.5%;
    display: flex;
    justify-content: center;
    text-align: justify;
    overflow-y: scroll;
    border: 1px solid #b2b0b0;
    overflow-y:auto;
}


.ques{
    height: 98%;
    width: 98%;
    border: 1px solid #95949400;
    display: block;
}



.option-div{
    height: 98%;
    width: 36.5%;
    border: 1px solid #959494;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
}

.op-ques{
    height: 30%;
    width: 99%;
    border: 1px solid #95949400;
    padding: 0.5vw;
    display: block;
    min-height: fit-content;
}

.op-options{
    height: 69%;
    width: 99%;
    border: 1px solid #95949400;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.8vh;
    max-height: 50vh;
}

.op-options label{
    height: 18%;
    width: 99%;
    border: 1px solid #9594945e;
    display: flex;
    justify-content: left;
    border-radius: 0.3vw;
    height: 9vh;
}

.op-options label:hover{
    background: #e9e8e88a;
}

.op-options label input{
    margin: 0 0.5vw;
}




.op-options label input:focus{
   accent-color: green;
}




.fs-btn{
    height: 12%;
    width: 30px;
    border: 1px solid #9594945e;
    background-color: #43434347;
    display: flex;
    justify-content: center;
    border-radius: 0vw;
    cursor: pointer;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    position: absolute;
    color: #ffffff;
}

.fs-btn:hover{
    background-color: #43434375;
}

#chevron-right{
    display: flex;
}

#chevron-left{
    display: none;
    color: white;
}







/* ....................................................... */
.left-pt4{
    height: 10vh;
    width: 100%;
    background-color: #ffffff;
    border-top: 0.1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}

.lp4-part1{
    height: 100%;
    width: 45%;
    display: flex;
    gap: 1vw;
}

.lp4-part1 button{
    height: 7vh;
    width: 10vw;
    font-size: 1vw;
    font-weight: 600;
}

.lp4-part2 button{
    height: 7vh;
    width: 10vw;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 0.4vh;
    border: 0.1px solid rgb(190, 190, 190);
}

.lp4-part1 button:hover,.lp4-part2 button:hover{
    background-color: #1777ed;
    color: #ffffff;
    border: none;
}














/* ...................... */
.mock-right{
    height: 100%;
    width: 22vw;
    border: 0.1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
}


.ryt-pt1{
    height: 14vh;
    width: 100%;
    background-color: #1797ed;
}
/* ...................................... */
.ryt-pt2{
    height: 15vh;
    width: 100%;
    background-color: #e4edf0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0.3vw;
    padding: 0 0.5vw;
    position: relative;
}



.ques-status-info{
    height: 7vh;
    width: 10.3vw;
    border: 1px solid #00000000;
    margin:  auto;
    display: flex;
    justify-content: space-evenly;
}


.ques-status-btn{
    height: 90%;
    width: 28%;
    border: 1px solid #00000000;
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
}




#answrd{
    background-color: #33ff00;
    border-radius: 50%;
}

#m-f-r-a{
    background: #590375;
    border-radius: 50%;
    position: relative;
}

.greenn-dot{
    position: absolute;
    height: 2vh;
    width: 2vh;
    background-color: #33ff00;
    border-radius: 1vh;
    bottom: 0;
    right: 0;
}



#m-f-r{
    background-color: #590375;
    border-radius: 50%;
}

#n-a{
    background-color: #ff0000;
    border-radius: 50%;
}



.ques-status-info p{
    width: 68%;
    height: 90%;
    border: 1px solid #00000000;
    display: flex;
    font-size: 1.5vh;
    padding: 0 0.2vw;
}




/* ........................................ */
.ryt-pt3{
    height: 70vh;
    width: 100%;
    background-color: #ffffff;
}

.hd{
    height: 8%;
    width: 100%;
    display: flex;
    padding-left: 1vw;
    background-color: #1789ed;
    color: white;
}


.qs-hold{
    height: 79.1%;
    width: 99%;
    background-color: #e4edf0;
    display: grid;
    grid-template-columns: repeat(4, 4.5vw);
    gap: 1vh;
    padding: 22vh 1vh 1vh 1vh;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    place-content: center;
}


.qs-hold button{
    height: 8vh;
    width: 4.3vw;
    font-size: 1.3vw;
    font-weight: 500;
    background: #f5f2f2;
    border-radius: 0.3vw;
    border: 0.1px solid black;
}




.ryt-pt4{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #000;
    background-color: #ffffff;
}

.submit-btn{
    height: 65%;
    width: 30%;
    border-radius: 0.7vh;
    background-color: #083d7d;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2.4vh;
}

.submit-btn:hover{
    background-color: #1777ed;
}